@charset "UTF-8";
html * {
  outline: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  display: block; }

a:hover {
  text-decoration: none; }

ul li {
  list-style-type: none; }

img, svg {
  vertical-align: middle;
  max-width: 100%; }

input, textarea {
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

button {
  outline: 0 !important; }

.h1, .h2, .h3, .h4, .h5, .h6, p {
  margin: 0; }

.h1, .h2, .h3, .h4 {
  color: black; }

.h3-bold {
  color: #808080; }

.h4, .h5 {
  color: #3F3F3F; }

.h1 {
  font-family: "Circe-Bold", sans-serif;
  font-size: 64px;
  line-height: 72px; }
  @media screen and (max-width: 991px) {
    .h1 {
      font-size: 28px;
      line-height: 32px; } }

.h2 {
  font-family: "Circe-Regular", sans-serif;
  font-size: 36px;
  line-height: 48px; }
  @media screen and (max-width: 991px) {
    .h2 {
      font-size: 25px;
      line-height: 33px; } }

.h3 {
  font-family: "Circe-Regular", sans-serif;
  font-size: 24px;
  line-height: 32px; }
  @media screen and (max-width: 991px) {
    .h3 {
      font-size: 20px;
      line-height: 26px; } }
  @media screen and (max-width: 500px) {
    .h3 {
      font-size: 16px;
      line-height: 22px; } }

.h3-bold {
  font-family: "Circe-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px; }
  @media screen and (max-width: 991px) {
    .h3-bold {
      font-size: 20px;
      line-height: 132%; } }

.h4 {
  font-family: "Circe-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px; }
  @media screen and (max-width: 991px) {
    .h4 {
      font-size: 14px;
      line-height: 20px; } }
  @media screen and (max-width: 500px) {
    .h4 {
      font-size: 12px;
      line-height: 16px; } }

.h5 {
  font-family: "Circe-Light", sans-serif;
  font-size: 18px;
  line-height: 27px; }
  @media screen and (max-width: 991px) {
    .h5 {
      font-size: 14px;
      line-height: 20px; } }
  @media screen and (max-width: 500px) {
    .h5 {
      font-size: 10px;
      line-height: 14px; } }

.h6 {
  font-family: "Circe-Light", sans-serif;
  font-size: 12px;
  line-height: 17px; }
  @media screen and (max-width: 991px) {
    .h6 {
      font-size: 10px;
      line-height: 10px; } }

.btn-secondary, .btn-secondary:focus, .btn-secondary:hover, .btn-secondary:active, .btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active {
  box-shadow: none !important;
  outline: none;
  height: 100%;
  border-radius: 0;
  border: none;
  background: transparent; }

.button-download {
  width: 337px;
  height: 80px;
  display: flex;
  cursor: pointer;
  background: transparent;
  border: 2px solid #5C87AF;
  color: #3F3F3F;
  transition: 0.5s;
  border-radius: 4px; }
  @media screen and (max-width: 550px) {
    .button-download {
      width: 213px;
      height: 50px; } }
  .button-download .tds {
    width: 106px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #5C87AF; }
    @media screen and (max-width: 550px) {
      .button-download .tds {
        width: 67px; } }
  .button-download .download-box {
    flex-grow: 1; }
    .button-download .download-box .img-download {
      width: 36px;
      height: 36px;
      margin-right: 16px; }
      .button-download .download-box .img-download img {
        width: 100%;
        object-fit: contain; }

.button-download:hover {
  border: 2px solid #5C87AF;
  box-shadow: 2px 2px 0 #5C87AF; }

.button-download:active {
  border: 2px solid #3F3F3F;
  background: rgba(235, 239, 242, 0.9); }

.button-download:disabled {
  background: white;
  color: #CDCDCD;
  border: 2px solid #CDCDCD; }

.button-blue {
  cursor: pointer;
  background: #5C87AF;
  padding: 14px 50px;
  border: 2px solid #D5E1EC;
  color: white;
  transition: 0.5s;
  text-align: center;
  border-radius: 4px; }

.button-blue:hover {
  border: 2px solid #6DCFF6;
  background: #00AEEF;
  box-shadow: 2px 2px 0 #6DCFF6; }

.button-blue:active {
  background: #426189;
  color: #5C87AF;
  border: 2px solid #5C87AF; }

.button-blue:disabled {
  background: white;
  color: #CDCDCD;
  border: 2px solid #CDCDCD; }

.button-discard {
  text-align: center;
  cursor: pointer;
  background: transparent;
  padding: 14px 50px;
  border: 2px solid #808080;
  color: #808080;
  transition: 0.5s;
  border-radius: 4px; }

.button-discard:hover {
  border: 2px solid #5C87AF;
  color: #5C87AF;
  box-shadow: 2px 2px 0 #5C87AF; }

.button-discard:active {
  background: #CDCDCD;
  color: #3F3F3F;
  border: 2px solid #3F3F3F; }

.button-discard:disabled {
  background: white;
  color: #CDCDCD;
  border: 2px solid #CDCDCD; }

.box-card {
  display: flex;
  align-items: center;
  border: 2px solid #5C87AF;
  border-radius: 4px;
  transition: 0.5s; }

.box-card:hover {
  box-shadow: 2px 2px 0 #5C87AF; }

.box-card:active {
  border: 2px solid #426189;
  box-shadow: inset 6px 6px 0 rgba(66, 97, 137, 0.2); }

.button-playlist {
  text-align: right;
  box-shadow: 3px 3px 0 #5C87AF;
  cursor: pointer;
  background: transparent;
  padding: 29px 21px 29px 73px;
  border: 2px solid transparent;
  color: #5C87AF;
  transition: 0.5s;
  border-radius: 8px;
  margin-bottom: 25px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content; }

.button-playlist:last-child {
  margin-bottom: 0; }

.button-playlist:hover {
  border: 2px solid #5C87AF;
  color: #5C87AF;
  box-shadow: none; }

.button-discard-active {
  background: rgba(235, 239, 242, 0.9);
  box-shadow: inset 6px 6px 0 rgba(66, 97, 137, 0.2);
  border: 2px solid #5C87AF;
  font-family: "Circe-Bold", sans-serif; }

.margin {
  width: 1435px;
  margin: 0 auto; }
  @media screen and (max-width: 1440px) {
    .margin {
      width: 1200px; } }
  @media screen and (max-width: 1240px) {
    .margin {
      width: 940px; } }
  @media screen and (max-width: 991px) {
    .margin {
      width: 100%;
      padding: 0 20px; } }

header {
  transition: 0.5s;
  padding: 46px 0;
  z-index: 999;
  position: fixed;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px); }
  @media screen and (max-width: 991px) {
    header {
      padding: 7px 0; } }
  header .margin {
    margin: 0 204px 0 24px;
    width: auto; }
    @media screen and (max-width: 1640px) {
      header .margin {
        margin: 0 24px 0 24px; } }
    @media screen and (max-width: 991px) {
      header .margin {
        margin: 0; } }
    @media screen and (max-width: 1440px) {
      header .margin .h3 {
        font-size: 18px;
        line-height: 22px; } }
    header .margin .button-burger {
      display: none; }
      @media screen and (max-width: 991px) {
        header .margin .button-burger {
          display: block; } }
    header .margin img {
      display: block; }
    header .margin nav {
      width: 865px; }
      @media screen and (max-width: 1440px) {
        header .margin nav {
          width: 550px; } }
      @media screen and (max-width: 991px) {
        header .margin nav {
          display: none; } }
      header .margin nav a {
        transition: 0.5s;
        border-bottom: 2px solid transparent; }
      header .margin nav a:hover {
        border-bottom: 2px solid #426189;
        color: black; }
    header .margin .ico-top {
      width: 133px; }
      @media screen and (max-width: 991px) {
        header .margin .ico-top {
          display: none !important; } }

.login, .button-filter-mob {
  cursor: pointer; }
  .login svg, .button-filter-mob svg {
    margin-right: 16px; }
    @media screen and (max-width: 991px) {
      .login svg, .button-filter-mob svg {
        margin-right: 0; } }
    .login svg path, .button-filter-mob svg path {
      transition: 0.5s; }
  .login p, .button-filter-mob p {
    color: #808080;
    transition: 0.5s; }
    @media screen and (max-width: 991px) {
      .login p, .button-filter-mob p {
        display: none; } }

.login:hover path, .button-filter-mob:hover path {
  fill: #00AEEF; }
.login:hover p, .button-filter-mob:hover p {
  color: #00AEEF; }

.login:active path, .button-filter-mob:active path {
  fill: #426189; }
.login:active p, .button-filter-mob:active p {
  color: #426189; }

.button-filter-mob {
  display: none !important;
  margin-right: 7px; }
  @media screen and (max-width: 991px) {
    .button-filter-mob {
      display: flex !important; } }
  .button-filter-mob svg {
    margin-right: 4px;
    flex: 0 0 12px; }
  .button-filter-mob p {
    display: block; }

#burgerModal .modal-dialog {
  margin: 0; }
#burgerModal .modal-header {
  padding: 34px 36px 27px 30px;
  border-bottom: none; }
  #burgerModal .modal-header .margin {
    padding: 0; }
#burgerModal .modal-body {
  padding: 0 36px 43px 30px; }
  #burgerModal .modal-body nav li {
    border-bottom: 1px solid #5C87AF;
    margin-bottom: 16px;
    padding-bottom: 10px; }
  #burgerModal .modal-body nav li:last-child {
    margin-bottom: 32px; }
#burgerModal .button-burger {
  width: 12px;
  height: 12px; }
  #burgerModal .button-burger img {
    width: 100%;
    height: 100%;
    display: block; }
#burgerModal .ico-top {
  width: 133px; }

.header-scroll {
  padding: 12px 0; }

.active-link {
  color: #426189;
  font-family: "Circe-Bold", sans-serif; }

.active-link:hover {
  color: #426189 !important; }

.back-top .video-back {
  position: relative;
  width: 100%;
  max-height: 836px;
  overflow: hidden; }
  @media screen and (max-width: 550px) {
    .back-top .video-back {
      height: 215px; } }
  .back-top .video-back iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .back-top .video-back .back-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 253px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 49.27%, #FFFFFF 100%); }
    @media screen and (max-width: 991px) {
      .back-top .video-back .back-gradient {
        height: 80px; } }
  .back-top .video-back img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.back-top .back-catalog .back-gradient {
  height: 406px; }
  @media screen and (max-width: 991px) {
    .back-top .back-catalog .back-gradient {
      height: 80px; } }

.catalog, .search-results-box {
  margin-top: -167px;
  margin-bottom: 100px;
  position: relative;
  z-index: 3; }
  @media screen and (max-width: 991px) {
    .catalog, .search-results-box {
      margin-bottom: 50px;
      margin-top: -70px; } }
  .catalog .margin .h1, .search-results-box .margin .h1 {
    margin-bottom: 35px;
    border-bottom: 2px solid #5C87AF; }
  .catalog .container-search-card, .search-results-box .container-search-card {
    width: 950px; }
    @media screen and (max-width: 1440px) {
      .catalog .container-search-card, .search-results-box .container-search-card {
        width: 780px; } }
    @media screen and (max-width: 1240px) {
      .catalog .container-search-card, .search-results-box .container-search-card {
        width: 550px; } }
    @media screen and (max-width: 991px) {
      .catalog .container-search-card, .search-results-box .container-search-card {
        width: 100%; } }
    .catalog .container-search-card .box-search-filters, .search-results-box .container-search-card .box-search-filters {
      margin-bottom: 35px; }
    .catalog .container-search-card .form-search, .search-results-box .container-search-card .form-search {
      position: relative;
      flex-grow: 1; }
      .catalog .container-search-card .form-search input, .search-results-box .container-search-card .form-search input {
        width: 100%;
        height: 51px;
        padding: 0 110px 0 20px;
        border: 2px solid #5C87AF;
        box-shadow: inset 6px 6px 0 rgba(66, 97, 137, 0.2);
        border-radius: 4px;
        transition: 5s; }
        @media screen and (max-width: 991px) {
          .catalog .container-search-card .form-search input, .search-results-box .container-search-card .form-search input {
            height: 25px;
            box-shadow: inset 2.34273px 2.34273px 0 rgba(66, 97, 137, 0.2); } }
      .catalog .container-search-card .form-search input::-webkit-search-cancel-button, .search-results-box .container-search-card .form-search input::-webkit-search-cancel-button {
        display: none; }
      .catalog .container-search-card .form-search input:focus, .search-results-box .container-search-card .form-search input:focus {
        border: 2px solid #00AEEF;
        box-shadow: 2px 2px 0 #00AEEF; }
        @media screen and (max-width: 991px) {
          .catalog .container-search-card .form-search input:focus, .search-results-box .container-search-card .form-search input:focus {
            box-shadow: inset 2.34273px 2.34273px 0 rgba(66, 97, 137, 0.2); } }
      .catalog .container-search-card .form-search button, .search-results-box .container-search-card .form-search button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none; }
        .catalog .container-search-card .form-search button p, .search-results-box .container-search-card .form-search button p {
          margin-right: 15px;
          opacity: 0;
          color: #00AEEF; }
        .catalog .container-search-card .form-search button .img-search, .search-results-box .container-search-card .form-search button .img-search {
          width: 44px;
          height: 44px;
          border-radius: 50%; }
          @media screen and (max-width: 991px) {
            .catalog .container-search-card .form-search button .img-search, .search-results-box .container-search-card .form-search button .img-search {
              width: 12px;
              height: 12px; } }
        .catalog .container-search-card .form-search button path, .catalog .container-search-card .form-search button svg, .catalog .container-search-card .form-search button p, .catalog .container-search-card .form-search button .img-search, .search-results-box .container-search-card .form-search button path, .search-results-box .container-search-card .form-search button svg, .search-results-box .container-search-card .form-search button p, .search-results-box .container-search-card .form-search button .img-search {
          transition: 0.5s; }
      .catalog .container-search-card .form-search button:hover p, .search-results-box .container-search-card .form-search button:hover p {
        opacity: 1; }
      .catalog .container-search-card .form-search button:hover .img-search, .search-results-box .container-search-card .form-search button:hover .img-search {
        background-color: #00AEEF; }
      .catalog .container-search-card .form-search button:hover path, .search-results-box .container-search-card .form-search button:hover path {
        fill: #00AEEF;
        stroke: white; }
      .catalog .container-search-card .form-search button:active p, .search-results-box .container-search-card .form-search button:active p {
        opacity: 0; }
      .catalog .container-search-card .form-search button:active .img-search, .search-results-box .container-search-card .form-search button:active .img-search {
        width: 33px;
        height: 33px; }
      .catalog .container-search-card .form-search button:active svg, .search-results-box .container-search-card .form-search button:active svg {
        width: 20px;
        height: 20px; }
    .catalog .container-search-card .container-card .box-card, .search-results-box .container-search-card .container-card .box-card {
      width: 458px;
      padding: 18px 10px 18px 10px;
      margin-bottom: 17px; }
      @media screen and (max-width: 1440px) {
        .catalog .container-search-card .container-card .box-card, .search-results-box .container-search-card .container-card .box-card {
          width: 380px;
          padding: 18px 10px 18px 10px; } }
      @media screen and (max-width: 1240px) {
        .catalog .container-search-card .container-card .box-card, .search-results-box .container-search-card .container-card .box-card {
          width: 100%; } }
      .catalog .container-search-card .container-card .box-card .img-card, .search-results-box .container-search-card .container-card .box-card .img-card {
        width: 62px;
        height: 80px;
        object-fit: contain;
        margin-right: 25px;
        flex: 0 0 62px; }
        @media screen and (max-width: 1440px) {
          .catalog .container-search-card .container-card .box-card .img-card, .search-results-box .container-search-card .container-card .box-card .img-card {
            margin-right: 10px; } }
        .catalog .container-search-card .container-card .box-card .img-card img, .search-results-box .container-search-card .container-card .box-card .img-card img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain; }
  .catalog .navigation, .search-results-box .navigation {
    margin-top: 15px; }
  .catalog .nav-links .prev, .search-results-box .nav-links .prev {
    margin-right: 15px; }
  .catalog .nav-links .next, .search-results-box .nav-links .next {
    margin-left: 15px; }
  .catalog .nav-links .page-numbers, .search-results-box .nav-links .page-numbers {
    height: 20px;
    width: 21px;
    text-align: center;
    color: #808080;
    transition: 0.5s; }
  .catalog .nav-links .current, .search-results-box .nav-links .current {
    color: #5C87AF; }

.catalog .filters, .search-results-box .filters, #formModalfilters .filters {
  padding: 44px 70px 50px 44px;
  border: 2px solid #5C87AF;
  border-radius: 4px; }
  @media screen and (max-width: 1440px) {
    .catalog .filters, .search-results-box .filters, #formModalfilters .filters {
      padding: 44px 40px 50px 20px; } }
  @media screen and (max-width: 1240px) {
    .catalog .filters, .search-results-box .filters, #formModalfilters .filters {
      padding: 44px 20px 50px 20px; } }
  .catalog .filters .h2, .search-results-box .filters .h2, #formModalfilters .filters .h2 {
    margin-bottom: 26px; }
  .catalog .filters .accordion, .search-results-box .filters .accordion, #formModalfilters .filters .accordion {
    width: 346px; }
    @media screen and (max-width: 1440px) {
      .catalog .filters .accordion, .search-results-box .filters .accordion, #formModalfilters .filters .accordion {
        width: 330px; } }
  .catalog .filters .accordion-item, .search-results-box .filters .accordion-item, #formModalfilters .filters .accordion-item {
    margin-bottom: 24px; }
  .catalog .filters .accordion-button, .search-results-box .filters .accordion-button, #formModalfilters .filters .accordion-button {
    padding: 10px 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #5C87AF !important;
    background: transparent !important;
    color: black;
    transition: 0.5s; }
  .catalog .filters .accordion-button:focus, .search-results-box .filters .accordion-button:focus, #formModalfilters .filters .accordion-button:focus {
    border-radius: 0;
    border: none;
    box-shadow: none !important; }
  .catalog .filters .accordion-button:after, .search-results-box .filters .accordion-button:after, #formModalfilters .filters .accordion-button:after {
    width: 16px;
    height: 10px;
    background-image: url("../img/arrow_button.svg");
    background-position: center;
    background-size: contain; }
  .catalog .filters .accordion-button:hover, .search-results-box .filters .accordion-button:hover, #formModalfilters .filters .accordion-button:hover {
    color: #00AEEF;
    border-bottom: 1px solid #00AEEF !important; }
  .catalog .filters .accordion-button:hover:after, .search-results-box .filters .accordion-button:hover:after, #formModalfilters .filters .accordion-button:hover:after {
    background-image: url("../img/arrow_button_blue.svg"); }
  .catalog .filters .accordion-collapse, .catalog .filters .separate-input, .search-results-box .filters .accordion-collapse, .search-results-box .filters .separate-input, #formModalfilters .filters .accordion-collapse, #formModalfilters .filters .separate-input {
    border: none;
    border-bottom: 1px solid #D5E1EC; }
    .catalog .filters .accordion-collapse .accordion-body, .catalog .filters .separate-input .accordion-body, .search-results-box .filters .accordion-collapse .accordion-body, .search-results-box .filters .separate-input .accordion-body, #formModalfilters .filters .accordion-collapse .accordion-body, #formModalfilters .filters .separate-input .accordion-body {
      padding: 16px 0 20px; }
    .catalog .filters .accordion-collapse label:last-child, .catalog .filters .separate-input label:last-child, .search-results-box .filters .accordion-collapse label:last-child, .search-results-box .filters .separate-input label:last-child, #formModalfilters .filters .accordion-collapse label:last-child, #formModalfilters .filters .separate-input label:last-child {
      margin-bottom: 0; }
  .catalog .filters .separate-input, .search-results-box .filters .separate-input, #formModalfilters .filters .separate-input {
    padding: 10px 0 0;
    border-bottom: none;
    margin-bottom: 104px; }
  .catalog .filters .button-blue, .search-results-box .filters .button-blue, #formModalfilters .filters .button-blue {
    margin-bottom: 23px; }

@media screen and (max-width: 500px) {
  #formModalfilters .modal-dialog, #formModalplaylist .modal-dialog {
    margin: 0; } }
#formModalfilters .modal-header, #formModalplaylist .modal-header {
  padding: 34px 36px 27px 30px;
  border-bottom: none; }
  #formModalfilters .modal-header .margin, #formModalplaylist .modal-header .margin {
    padding: 0; }
#formModalfilters .modal-body, #formModalplaylist .modal-body {
  padding: 0 36px 43px 30px; }
#formModalfilters .filters, #formModalplaylist .filters {
  padding: 0;
  border: none;
  border-radius: 0; }
#formModalfilters form, #formModalplaylist form {
  width: 100% !important; }

@media screen and (max-width: 991px) {
  .catalog .filters, .search-results-box .filters {
    display: none !important; } }

.search-results-box .container-search-card {
  width: 100%; }
.search-results-box .categories-search {
  margin-bottom: 20px; }
  .search-results-box .categories-search label {
    margin-right: 20px;
    margin-bottom: 0; }
.search-results-box .container-card, .search-results-box .container-video {
  display: flex; }
  .search-results-box .container-card .box-media, .search-results-box .container-video .box-media {
    margin-bottom: 17px; }
  .search-results-box .container-card .box-card:nth-child(3n+1), .search-results-box .container-card .box-media:nth-child(3n+1), .search-results-box .container-video .box-card:nth-child(3n+1), .search-results-box .container-video .box-media:nth-child(3n+1) {
    margin-right: 30.5px; }
  .search-results-box .container-card .box-card:nth-child(3n+2), .search-results-box .container-card .box-media:nth-child(3n+2), .search-results-box .container-video .box-card:nth-child(3n+2), .search-results-box .container-video .box-media:nth-child(3n+2) {
    margin-right: 30.5px; }

.check-filter {
  cursor: pointer;
  margin-bottom: 16px; }
  .check-filter input {
    display: none; }
  .check-filter .box-check {
    display: flex;
    align-items: center; }
    .check-filter .box-check .box-plus {
      border: 1px solid #426189;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      position: relative;
      transition: 0.5s; }
      .check-filter .box-check .box-plus div {
        transition: 0.5s;
        opacity: 0; }
      .check-filter .box-check .box-plus div:nth-child(1) {
        width: 2px;
        height: 12px;
        background-color: #6DCFF6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .check-filter .box-check .box-plus div:nth-child(2) {
        width: 12px;
        height: 2px;
        background-color: #6DCFF6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .check-filter .box-check .box-plus:hover {
      border: 1px solid #00AEEF; }
      .check-filter .box-check .box-plus:hover div {
        opacity: 1; }
  .check-filter input:active + .box-check .box-plus {
    background-color: #D5E1EC; }
  .check-filter input:checked + .box-check .box-plus div {
    opacity: 1; }

.media {
  padding: 0 0 44px; }
  .media .h1 {
    padding-bottom: 44px;
    margin-bottom: 44px;
    border-bottom: 2px solid #5C87AF; }
  @media screen and (max-width: 600px) {
    .media .h1 + div {
      justify-content: center !important; } }
  @media screen and (max-width: 1240px) {
    .media .box-media {
      margin-bottom: 32px;
      width: 277px;
      height: 277px; }
      .media .box-media .h4 {
        font-size: 12px;
        line-height: 16px;
        width: 130px !important; } }

@media screen and (max-width: 590px) {
  #container-video {
    justify-content: center !important; } }

.box-media {
  width: 458px;
  height: 458px;
  border-radius: 12px;
  border-top: 3px solid #5C87AF;
  border-right: 3px solid #5C87AF;
  border-bottom: 3px solid #5C87AF;
  border-left: 0; }
  @media screen and (max-width: 1440px) {
    .box-media {
      width: 380px;
      height: 380px; } }
  @media screen and (max-width: 1240px) {
    .box-media {
      width: 100%;
      height: 460px; } }
  @media screen and (max-width: 991px) {
    .box-media {
      width: 277px;
      height: 277px; } }
  .box-media .name-video {
    width: 100%;
    justify-content: space-evenly; }
    .box-media .name-video .h4 {
      width: 242px;
      transition: 0.5s;
      color: #808080; }
    .box-media .name-video .time-video {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .box-media .name-video .time-video div {
        margin-bottom: 5px; }
        .box-media .name-video .time-video div img {
          width: 36px;
          height: 36px;
          transition: 0.5s; }
  .box-media .box-video-desc {
    padding: 40px 32px;
    max-height: 138px; }

.box-video {
  overflow: hidden;
  max-width: 100%;
  height: 315px;
  position: relative;
  border-radius: 12px 12px 0 0;
  border-top: 3px solid #5C87AF;
  border-right: 3px solid #5C87AF;
  border-bottom: 3px solid #5C87AF;
  border-left: 3px solid #5C87AF;
  margin: -3px -3px 0 0;
  box-sizing: content-box; }
  .box-video .video__link {
    cursor: pointer;
    width: 100%;
    height: 100%; }
  .box-video .video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent; }
  .box-video .video__media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.box-media:hover {
  border-left: 3px solid #5C87AF; }
  .box-media:hover .box-video {
    margin-left: -3px; }
  .box-media:hover .box-video-desc {
    margin-left: -3px; }
  .box-media:hover .name-video img {
    width: 47px !important;
    height: 47px !important; }
  .box-media:hover .name-video h3 {
    color: #426189; }

.tinting {
  position: relative;
  z-index: 3;
  margin-bottom: 74px; }
  @media screen and (max-width: 991px) {
    .tinting {
      margin-bottom: 50px; } }
  .tinting .tinting-txt {
    width: 585px; }
    @media screen and (max-width: 1440px) {
      .tinting .tinting-txt {
        width: 500px; } }
    @media screen and (max-width: 1240px) {
      .tinting .tinting-txt {
        width: 400px; } }
    @media screen and (max-width: 991px) {
      .tinting .tinting-txt {
        width: 100%; } }
    .tinting .tinting-txt h2 {
      padding-bottom: 44px;
      margin-bottom: 44px;
      border-bottom: 2px solid #5C87AF; }
    .tinting .tinting-txt h4 {
      margin-bottom: 32px; }
    .tinting .tinting-txt .button-discard {
      width: 340px; }
      @media screen and (max-width: 400px) {
        .tinting .tinting-txt .button-discard {
          width: 100%; } }
    .tinting .tinting-txt .box-video {
      display: none; }
      @media screen and (max-width: 991px) {
        .tinting .tinting-txt .box-video {
          display: block;
          width: 100%;
          margin-bottom: 30px;
          height: 0;
          padding-top: 56.25%; } }
  .tinting .box-video {
    border-radius: 12px;
    width: 824px;
    height: 464px;
    border: 0;
    margin: 0;
    box-sizing: border-box; }
    @media screen and (max-width: 1440px) {
      .tinting .box-video {
        width: 660px; } }
    @media screen and (max-width: 1240px) {
      .tinting .box-video {
        width: 500px;
        height: 330px; } }
    @media screen and (max-width: 991px) {
      .tinting .box-video {
        display: none; } }

footer {
  position: relative; }
  footer .margin {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 4px 4px 10px #FFFFFF;
    backdrop-filter: blur(20px);
    padding: 44px 120px; }
    @media screen and (max-width: 991px) {
      footer .margin {
        padding: 70px 20px 13px;
        background-color: transparent;
        background-image: url("../img/back_footer_mob.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: none;
        backdrop-filter: none; } }
  footer .logo-login {
    margin-bottom: 27px; }
  footer nav {
    height: 174px;
    margin-bottom: 24px; }
    @media screen and (max-width: 991px) {
      footer nav {
        height: auto; } }
    footer nav ul {
      height: 100%;
      flex-direction: column; }
      @media screen and (max-width: 991px) {
        footer nav ul {
          flex-direction: row; } }
    footer nav a {
      display: inline-block;
      color: #3F3F3F; }
    footer nav a:hover {
      color: #3F3F3F; }
  footer .ico-top {
    width: 135px;
    margin-bottom: 32px; }
  footer .h6 {
    color: #808080; }
  footer .back-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 715px; }
    @media screen and (max-width: 991px) {
      footer .back-bottom {
        display: none; } }
    footer .back-bottom img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  footer .login p {
    display: block; }

.mb-64 {
  margin-bottom: 64px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-56 {
  margin-bottom: 56px; }

.card-description {
  position: relative;
  z-index: 3;
  margin-top: -224px; }
  @media screen and (max-width: 991px) {
    .card-description {
      margin-top: -70px; } }
  .card-description .content-card {
    margin: 0 auto;
    max-width: 950px; }
    @media screen and (max-width: 991px) {
      .card-description .content-card {
        width: 100%;
        padding: 0 20px;
        justify-content: center !important; } }
    .card-description .content-card .img-card {
      width: 224px;
      height: 224px; }
      @media screen and (max-width: 991px) {
        .card-description .content-card .img-card {
          display: none;
          width: 134px;
          height: 134px; } }
      .card-description .content-card .img-card img {
        width: 100%;
        object-fit: cover; }
    .card-description .content-card .info-card {
      max-width: 704px; }
      .card-description .content-card .info-card .box-h1 {
        border-bottom: 1px solid #5C87AF;
        padding-bottom: 4px;
        border-bottom: 11px; }
      .card-description .content-card .info-card .h2 {
        margin-bottom: 24px; }
      .card-description .content-card .info-card .img-card {
        display: none; }
        @media screen and (max-width: 991px) {
          .card-description .content-card .info-card .img-card {
            display: block; } }
      .card-description .content-card .info-card .import-info {
        border: 1px solid #426189;
        border-radius: 4px;
        padding: 32px 78px 40px 43px; }
        @media screen and (max-width: 550px) {
          .card-description .content-card .info-card .import-info {
            background: rgba(235, 239, 242, 0.9);
            border-radius: 2px;
            padding: 8px 36px 16px 16px; } }
        .card-description .content-card .info-card .import-info .h3 {
          padding-bottom: 16px;
          border-bottom: 1px solid #5C87AF; }
        .card-description .content-card .info-card .import-info .ico-card-flex {
          width: 100%; }
          .card-description .content-card .info-card .import-info .ico-card-flex .ico-card:last-child {
            margin-right: 0; }
          .card-description .content-card .info-card .import-info .ico-card-flex .ico-card {
            width: 72px;
            height: 72px;
            margin-right: 24px; }
            @media screen and (max-width: 550px) {
              .card-description .content-card .info-card .import-info .ico-card-flex .ico-card {
                width: 31px;
                height: 31px; } }
            .card-description .content-card .info-card .import-info .ico-card-flex .ico-card img {
              margin-right: 10px;
              width: 100%;
              object-fit: contain; }
      @media screen and (max-width: 550px) {
        .card-description .content-card .info-card .properties-color {
          flex-direction: column;
          margin-bottom: 24px; } }
      .card-description .content-card .info-card .properties-color .properties {
        max-width: 458px; }
        .card-description .content-card .info-card .properties-color .properties li {
          margin-bottom: 7px; }
        .card-description .content-card .info-card .properties-color .properties li:before {
          content: "– "; }
      .card-description .content-card .info-card .properties-color .box-color {
        max-width: 218px; }
        .card-description .content-card .info-card .properties-color .box-color .color {
          width: 72px;
          height: 72px;
          border: 2px solid #808080;
          border-radius: 50%;
          background-color: #CDA175;
          margin-right: 12px; }
        .card-description .content-card .info-card .properties-color .box-color .h4 {
          width: 135px; }
      .card-description .content-card .info-card .gloss-level li {
        margin-bottom: 16px;
        display: flex;
        align-items: center; }
      .card-description .content-card .info-card .gloss-level li:before {
        content: url("../img/blik.svg");
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 8px; }
      @media screen and (max-width: 550px) {
        .card-description .content-card .info-card .application .box-application-ico {
          justify-content: center; } }
      .card-description .content-card .info-card .application .application-ico:last-child {
        margin-right: 0; }
      .card-description .content-card .info-card .application .application-ico {
        width: 72px;
        height: 72px;
        margin-right: 24px; }
        @media screen and (max-width: 550px) {
          .card-description .content-card .info-card .application .application-ico {
            width: 57px;
            height: 57px;
            margin-right: 19px; } }
        .card-description .content-card .info-card .application .application-ico img {
          width: 100%;
          object-fit: contain; }
      .card-description .content-card .info-card .mixing-ratio, .card-description .content-card .info-card .drying-time {
        max-width: 460px; }
        .card-description .content-card .info-card .mixing-ratio .row, .card-description .content-card .info-card .drying-time .row {
          margin-right: 0;
          margin-top: 0;
          margin-left: 0;
          margin-bottom: 24px; }
          .card-description .content-card .info-card .mixing-ratio .row .col-3, .card-description .content-card .info-card .drying-time .row .col-3 {
            text-align: center;
            color: #00AEEF; }
        .card-description .content-card .info-card .mixing-ratio .row:nth-child(2), .card-description .content-card .info-card .drying-time .row:nth-child(2) {
          padding-bottom: 24px;
          border-bottom: 1px solid #426189; }
          .card-description .content-card .info-card .mixing-ratio .row:nth-child(2) .col-3, .card-description .content-card .info-card .drying-time .row:nth-child(2) .col-3 {
            color: #3F3F3F; }
        .card-description .content-card .info-card .mixing-ratio .row > *, .card-description .content-card .info-card .drying-time .row > * {
          padding-left: 0;
          padding-right: 0; }
      .card-description .content-card .info-card .documentation {
        display: flex;
        flex-direction: column;
        margin-bottom: 205px; }
        @media screen and (max-width: 991px) {
          .card-description .content-card .info-card .documentation {
            margin-bottom: 0; } }
        @media screen and (max-width: 550px) {
          .card-description .content-card .info-card .documentation .button-download {
            margin-bottom: 44px; } }
        .card-description .content-card .info-card .documentation .button-blue {
          width: 337px;
          color: white; }
          @media screen and (max-width: 550px) {
            .card-description .content-card .info-card .documentation .button-blue {
              width: 219px; } }
        @media screen and (max-width: 550px) {
          .card-description .content-card .info-card .documentation .button-blue, .card-description .content-card .info-card .documentation .button-download {
            align-self: center; } }

.media-container {
  position: relative;
  z-index: 3;
  padding: 126px 0 122px; }
  .media-container .h1 {
    padding-bottom: 16px;
    border-bottom: 2px solid #5C87AF; }
  .media-container .h2 {
    color: #CDCDCD;
    margin: 40px 0; }
  .media-container .box-media {
    margin-bottom: 32px; }
  .media-container .col-lg-4 {
    width: 460px; }
    @media screen and (max-width: 1440px) {
      .media-container .col-lg-4 {
        width: 350px; } }
    @media screen and (max-width: 1240px) {
      .media-container .col-lg-4 {
        width: 300px; } }
    @media screen and (max-width: 991px) {
      .media-container .col-lg-4 {
        display: none; } }
  .media-container .col-lg-8 {
    width: 944px; }
    @media screen and (max-width: 1440px) {
      .media-container .col-lg-8 {
        width: 800px; } }
    @media screen and (max-width: 1240px) {
      .media-container .col-lg-8 {
        width: 600px; } }
    @media screen and (max-width: 991px) {
      .media-container .col-lg-8 {
        width: 100%; } }
  .media-container .box-media {
    display: none !important; }
  .media-container .video-show {
    display: flex !important; }

.playlist {
  align-items: flex-end;
  display: flex;
  flex-direction: column; }

.button-bottom-filters {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0; }
  @media screen and (max-width: 991px) {
    .button-bottom-filters {
      display: block; } }
  .button-bottom-filters .margin {
    text-align: center; }
    .button-bottom-filters .margin button {
      max-width: 400px; }

.form-passwork, .form-sta {
  padding: 126px 0 150px;
  position: relative;
  z-index: 3; }
  .form-passwork .h1, .form-sta .h1 {
    margin-bottom: 16px;
    max-width: 585px; }
  .form-passwork .h2, .form-sta .h2 {
    margin-bottom: 20px; }
  .form-passwork .h3, .form-sta .h3 {
    margin-bottom: 25px; }

.modal-backdrop.show {
  opacity: 1;
  background: radial-gradient(34.42% 72.32% at 67.69% 27.68%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(235, 239, 242, 0.9); }

.form-passwork form .input-valid, .form-sta form .input-valid, #formModalpasswork form .input-valid {
  position: relative;
  margin-bottom: 24px; }
  .form-passwork form .input-valid .entryfield, .form-sta form .input-valid .entryfield, #formModalpasswork form .input-valid .entryfield {
    box-shadow: inset 6px 6px 0 rgba(66, 97, 137, 0.2);
    border-radius: 4px;
    border: 2px solid #5C87AF;
    width: 100%;
    resize: none;
    background: none;
    padding: 10px;
    color: #3F3F3F;
    overflow: hidden;
    transition: 0.5s; }
  .form-passwork form .input-valid .entryfield::placeholder, .form-sta form .input-valid .entryfield::placeholder, #formModalpasswork form .input-valid .entryfield::placeholder {
    color: #808080;
    font-family: "Circe-Light", sans-serif;
    font-size: 18px;
    line-height: 27px; }
  .form-passwork form .input-valid .entryfield:hover, .form-sta form .input-valid .entryfield:hover, #formModalpasswork form .input-valid .entryfield:hover {
    border: 2px solid #6DCFF6; }
  .form-passwork form .input-valid .entryfield:focus, .form-sta form .input-valid .entryfield:focus, #formModalpasswork form .input-valid .entryfield:focus {
    border: 2px solid #00AEEF;
    box-shadow: 2px 2px 0 #00AEEF; }
  .form-passwork form .input-valid .valid, .form-sta form .input-valid .valid, #formModalpasswork form .input-valid .valid {
    border: 2px solid #5C946E;
    box-shadow: inset 6px 6px 0 rgba(92, 148, 110, 0.2); }
  .form-passwork form .input-valid .invalid, .form-sta form .input-valid .invalid, #formModalpasswork form .input-valid .invalid {
    box-shadow: 2px 2px 0 #EC5B70;
    border: 2px solid #EC5B70; }
  .form-passwork form .input-valid .entryfield:-webkit-autofill, .form-sta form .input-valid .entryfield:-webkit-autofill, #formModalpasswork form .input-valid .entryfield:-webkit-autofill {
    -webkit-background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    color: #3F3F3F !important;
    -webkit-text-fill-color: #3F3F3F !important; }
.form-passwork form .input-valid img, .form-sta form .input-valid img, #formModalpasswork form .input-valid img {
  position: absolute;
  display: none;
  right: 12px;
  top: 50%;
  transform: translateY(-50%); }
.form-passwork form .input-valid .entryfield:focus + img, .form-sta form .input-valid .entryfield:focus + img, #formModalpasswork form .input-valid .entryfield:focus + img {
  display: block; }
.form-passwork form .input-valid .entryfield:focus + img + img, .form-sta form .input-valid .entryfield:focus + img + img, #formModalpasswork form .input-valid .entryfield:focus + img + img {
  display: none; }
.form-passwork form .input-valid .entryfield:focus + img + img + img, .form-sta form .input-valid .entryfield:focus + img + img + img, #formModalpasswork form .input-valid .entryfield:focus + img + img + img {
  display: none; }
.form-passwork form .input-valid .valid + img + img, .form-sta form .input-valid .valid + img + img, #formModalpasswork form .input-valid .valid + img + img {
  display: block; }
.form-passwork form .input-valid .invalid + img + img + img, .form-sta form .input-valid .invalid + img + img + img, #formModalpasswork form .input-valid .invalid + img + img + img {
  display: block; }
.form-passwork form button, .form-sta form button, #formModalpasswork form button {
  max-width: 240px; }
  @media screen and (max-width: 991px) {
    .form-passwork form button, .form-sta form button, #formModalpasswork form button {
      padding: 14px 30px; } }

.form-passwork form, .form-sta form {
  border: 2px solid #426189;
  border-radius: 4px;
  padding: 70px 60px;
  max-width: 585px; }
  @media screen and (max-width: 991px) {
    .form-passwork form, .form-sta form {
      padding: 24px 28px 37px 31px; } }

#formModalpasswork .modal-dialog {
  max-width: 704px; }
  #formModalpasswork .modal-dialog .modal-body {
    background: white;
    border: 2px solid #426189;
    border-radius: 4px;
    padding: 0; }
    #formModalpasswork .modal-dialog .modal-body .button-burger {
      cursor: pointer;
      background: transparent;
      position: absolute;
      top: 64px;
      right: 60px;
      width: 16px;
      height: 16px;
      padding: 0;
      opacity: 1; }
      #formModalpasswork .modal-dialog .modal-body .button-burger div {
        position: absolute;
        width: 140%;
        height: 2px;
        background-color: #5C87AF;
        border-radius: 2px;
        transition: 0.5s; }
      #formModalpasswork .modal-dialog .modal-body .button-burger div:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
        left: 50%; }
      #formModalpasswork .modal-dialog .modal-body .button-burger div:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
        left: 50%; }
    #formModalpasswork .modal-dialog .modal-body .button-burger:hover div {
      background-color: #00AEEF;
      height: 3px; }
    #formModalpasswork .modal-dialog .modal-body .flexform {
      background: transparent;
      box-shadow: none;
      padding: 64px 60px; }
      @media screen and (max-width: 991px) {
        #formModalpasswork .modal-dialog .modal-body .flexform {
          padding: 17px 23px; } }
      #formModalpasswork .modal-dialog .modal-body .flexform .h1 {
        margin-bottom: 35px;
        color: #3F3F3F; }
      #formModalpasswork .modal-dialog .modal-body .flexform form {
        margin-bottom: 20px; }
        #formModalpasswork .modal-dialog .modal-body .flexform form .button-blue {
          width: 55%; }
        #formModalpasswork .modal-dialog .modal-body .flexform form .button-discard {
          width: 40%;
          padding: 14px 40px; }
          @media screen and (max-width: 991px) {
            #formModalpasswork .modal-dialog .modal-body .flexform form .button-discard {
              padding: 14px 20px; } }
      #formModalpasswork .modal-dialog .modal-body .flexform a {
        transition: 0.5s; }
      #formModalpasswork .modal-dialog .modal-body .flexform a:hover {
        color: #5C87AF; }
#formModalpasswork .status {
  margin-bottom: 20px; }

.form-sta .check-filter {
  margin-bottom: 24px; }

.about, .support {
  z-index: 3;
  position: relative; }
  @media screen and (max-width: 991px) {
    .about, .support {
      margin-top: -30px; } }
  .about .h1, .support .h1 {
    padding-bottom: 24px;
    margin-bottom: 32px;
    border-bottom: 2px solid #5C87AF; }
    @media screen and (max-width: 991px) {
      .about .h1, .support .h1 {
        padding-bottom: 4px;
        margin-bottom: 30px; } }
  .about .banner-top, .support .banner-top {
    margin-bottom: 45px;
    width: 100%; }
    @media screen and (max-width: 991px) {
      .about .banner-top, .support .banner-top {
        margin-bottom: 17px;
        height: 131px; } }
    .about .banner-top img, .support .banner-top img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .about .img, .support .img {
    width: 100%; }
    .about .img img, .support .img img {
      width: 100%;
      object-fit: cover; }
  .about .col-lg-6:nth-child(1) h4, .about .col-lg-6:nth-child(1) ul, .support .col-lg-6:nth-child(1) h4, .support .col-lg-6:nth-child(1) ul {
    margin-bottom: 40px; }
    @media screen and (max-width: 991px) {
      .about .col-lg-6:nth-child(1) h4, .about .col-lg-6:nth-child(1) ul, .support .col-lg-6:nth-child(1) h4, .support .col-lg-6:nth-child(1) ul {
        margin-bottom: 17px; } }
  .about .col-lg-6:nth-child(1) li, .support .col-lg-6:nth-child(1) li {
    display: flex;
    margin-bottom: 10px; }
  .about .col-lg-6:nth-child(1) li:before, .support .col-lg-6:nth-child(1) li:before {
    content: "";
    width: 3px;
    height: 3px;
    margin: 10px;
    background-color: #3F3F3F;
    border-radius: 50%; }
  .about .col-lg-6:nth-child(1) .img, .support .col-lg-6:nth-child(1) .img {
    display: none;
    text-align: center; }
    @media screen and (max-width: 991px) {
      .about .col-lg-6:nth-child(1) .img, .support .col-lg-6:nth-child(1) .img {
        display: block;
        margin-bottom: 17px; } }
  .about .col-lg-6:nth-child(2), .support .col-lg-6:nth-child(2) {
    padding-left: 42px; }
    @media screen and (max-width: 991px) {
      .about .col-lg-6:nth-child(2), .support .col-lg-6:nth-child(2) {
        display: none; } }
    .about .col-lg-6:nth-child(2) .img:nth-child(1), .support .col-lg-6:nth-child(2) .img:nth-child(1) {
      margin-bottom: 63px; }

.about .margin, .support .margin {
  width: 1200px; }
  @media screen and (max-width: 1240px) {
    .about .margin, .support .margin {
      width: 940px; } }
  @media screen and (max-width: 991px) {
    .about .margin, .support .margin {
      width: 100%;
      padding: 0 16px; } }

#formModalpassworkTDS .modal-dialog, #formModalThanks .modal-dialog {
  margin: 0 auto;
  max-width: 704px; }
  @media screen and (max-width: 991px) {
    #formModalpassworkTDS .modal-dialog, #formModalThanks .modal-dialog {
      max-width: 276px; } }
#formModalpassworkTDS .modal-body, #formModalThanks .modal-body {
  padding: 81px 120px 104px;
  border: 2px solid #5C87AF;
  border-radius: 4px; }
  @media screen and (max-width: 991px) {
    #formModalpassworkTDS .modal-body, #formModalThanks .modal-body {
      padding: 33px 60px 40px 34px; } }
  #formModalpassworkTDS .modal-body .button-discard, #formModalThanks .modal-body .button-discard {
    max-width: 219px; }
    @media screen and (max-width: 991px) {
      #formModalpassworkTDS .modal-body .button-discard, #formModalThanks .modal-body .button-discard {
        max-width: 85px;
        padding: 7px 37px; } }
  #formModalpassworkTDS .modal-body svg, #formModalThanks .modal-body svg {
    position: absolute;
    right: 28px;
    bottom: 34px; }
    @media screen and (max-width: 991px) {
      #formModalpassworkTDS .modal-body svg, #formModalThanks .modal-body svg {
        width: 38px;
        height: 8px; } }
  #formModalpassworkTDS .modal-body p, #formModalThanks .modal-body p {
    font-family: "Circe-Light", sans-serif;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 30px; }
    @media screen and (max-width: 991px) {
      #formModalpassworkTDS .modal-body p, #formModalThanks .modal-body p {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 12px; } }
